html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    /*background-image: url('/assets/img/bg.jpg');*/
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

header {
    height: 25%;
    background-color: #269abc;
    margin-bottom: 2px;
}

header * {
    color: white;
}

header img {
    margin-top: 10px;
    padding-left: 70px;
}

.title {
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    padding-left: 40px;
}

@media (max-width: 870px) {
    header {
        height: 170px;
    }

    header img {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    header {
        height: 200px;
    }

    header img {
        margin-top: 30px;
    }
}